<!-- ejs도 html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./includes/common', {title: 'Home'}) %>
    <!-- index.ejs에서만 적용하고 싶은 home.css -->
    <link rel="stylesheet" href="/public/css/home.css" />
  </head>
  <body>
    <%- include('./includes/header') %>
    <!---- 다른 view파일 불러올 때 "<%#- include('view의 상대주소') %>" -->
    <!-- 주석 안먹어서 따로 # 붙여야 함 -->

    <!--++ 객체 가져오기 -->
    <% const userId = '세화' %>
    <!-- ejs 안에서 변수 선언한게 우선순위가 더 높음 -->

    <h1>안녕하세요 <%= userId%>님 ! 환영합니다.</h1>
    <p></p>
    <!-- 변경되어서 userId는 'ejs파일'로 찍힘 -->
    <p>당신의 PW는 <%= userPw%>입니다.</p>

    <!--++ 자바스크립트 코드 : 반복문 -->
    <!---- 자바스크립트 코드 매 줄마다 "<% %>" -->
    <% for(let i = 0; i < 5; i++) { %>
    <div><%= i %></div>
    <!---- 값을 템플릿에 출력할 때 "<%= %>" -->
    <% } %>

    <!--'' back의 버튼 3개 가져오기 -->
    <!-- 1)  -->
    <% for(let i = 1; i <= 3; i++) { %>
    <button>버튼 <%= i %></button>
    <% } %>

    <br />

    <!-- 2) -->
    <% for(let btn of btns) { %>
    <button><%= btn %></button>
    <% } %>

    <br />

    <span><%= me.name %></span>
    <span><%= me.msg %></span>

    <br />

    <% if(!isLogin) { %>
    <h4>아직 로그인하지 않으셨네요</h4>
    <% } else { %>
    <h4>로그인 하셨군요</h4>
    <% } %>
  </body>
</html>
